$textColor: #ebebeb;
$OuterSpace: #373c3f;
$Shark: #202529;
$Gallery: #ebebeb;
$White: #fff;
$BalticSea: #27212c;
$MediumRedViolet: #bc3183;
$BlueGem: #5b0fa1;
$Emperor: #515151;
$BlueChill: #088ca5;
$Mandy: #df4f57;
